footer{
  display: flex;
  justify-content: center;
  background-color: brown;
  background-image: url(../img/dirt.png) ;
  background-size: 60px;
  background-repeat: repeat-x;
}
img{
  width: 25px;
  justify-content: center;
}